In [1]:
import pandas as pd

In [2]:
# importing our dataset stored in the data folder
df = pd.read_csv('../data/twitter_sentiment_data.csv')

In [3]:
df.head()

,sentiment,message,tweetid
0,-1,@tiniebeany climate change is an interesting h...,792927353886371840
1,1,RT @NatGeoChannel: Watch #BeforeTheFlood right...,793124211518832641
2,1,Fabulous! Leonardo #DiCaprio's film on #climat...,793124402388832256
3,1,RT @Mick_Fanning: Just watched this amazing do...,793124635873275904
4,2,"RT @cnalive: Pranita Biswasi, a Lutheran from ...",793125156185137153

In [7]:
# we will take a random subset of the data and manually label it for testing
# but first we split the data into the categories and take an equal random subset of each
# this is to prevent the random data from being too much from 1 category and skewing our error checking
df_positive = df[df['sentiment'] == 1]
df_negative = df[df['sentiment'] == -1]
df_neutral = df[df['sentiment'] == 0]
df_news = df[df['sentiment'] == 2]

# dropping the  tweetid columns for the sub dataframes
df_positive.drop(columns=['tweetid'], axis=1, inplace = True)
df_negative.drop(columns=['tweetid'], axis=1, inplace = True)
df_neutral.drop(columns=['tweetid'], axis=1, inplace = True)
df_news.drop(columns=['tweetid'], axis=1, inplace = True)

C:\Users\vishk\AppData\Local\Temp\ipykernel_10932\1011927361.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_positive.drop(columns=['tweetid'], axis=1, inplace = True)
C:\Users\vishk\AppData\Local\Temp\ipykernel_10932\1011927361.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_negative.drop(columns=['tweetid'], axis=1, inplace = True)
C:\Users\vishk\AppData\Local\Temp\ipykernel_10932\1011927361.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_neutral.drop(columns=['tweetid'], axis=1, inplace = True)
C:\Users\vishk\AppData\Local\Temp\ipykernel_10932\1011927361.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_news.drop(columns=['tweetid'], axis=1, inplace = True)

In [8]:
df_positive.head()

    sentiment                                            message
1           1  RT @NatGeoChannel: Watch #BeforeTheFlood right...
2           1  Fabulous! Leonardo #DiCaprio's film on #climat...
3           1  RT @Mick_Fanning: Just watched this amazing do...
9           1  #BeforeTheFlood Watch #BeforeTheFlood right he...
10          1  RT @DrDeJarnett: It's vital that the public he...

In [9]:
df_negative.head()

     sentiment                                            message
0           -1  @tiniebeany climate change is an interesting h...
20          -1  @marie_dunkley arseholes couldn't predict tomo...
125         -1  @AngieNBC6 you do understand that climate chan...
286         -1  RT @trojan719: Why don't you fucking global wa...
337         -1  RT @realDonaldTrump: It's freezing outside, wh...

In [10]:
# assuming the other subdfs also work ... 
# get the random sample of each df
RANDOM_STATE = 42
random_pos = df_positive.sample(n=25, random_state=RANDOM_STATE)
random_neg = df_negative.sample(n=25, random_state=RANDOM_STATE)
random_neutral = df_neutral.sample(n=25, random_state=RANDOM_STATE)
random_news = df_news.sample(n=25, random_state=RANDOM_STATE)

In [ ]:
# merging all the subdf random samples into a df
merged_df = pd.concat([random_pos, random_neg, random_neutral, random_news], ignore_index=True)

# shuffling the merged df to avoid bias
merged_df = merged_df.sample(frac=1, random_state=RANDOM_STATE).reset_index(drop=True)

In [12]:
merged_df

    sentiment                                            message
0           2  #New_York City to #Exxon: Pay up for climate c...
1           0  In an ironic twist:\r\nBased on this theory, w...
2           0  RT @BlacklistedNews: Hypocrite: Obama goes to ...
3          -1  Pres. Trump listed facts about the Paris globa...
4          -1  Watch: Bill Nye blows gasket when a real scien...
..        ...                                                ...
95          0  Researcher my next video and found this by som...
96          0  RT @indihj: Someone mapped the Twitter Climate...
97          1  RT @og_mr_d: Before the Flood wasn't perfect d...
98          2  WWF: World$q$s richest reef system could soon ...
99          0  RT @MaddowBlog: He$q$s not kidding about the T...

[100 rows x 2 columns]

In [14]:
# exporting merged df
output_path = "../data/random_sample.csv"  # relative path from /scripts to /data
merged_df.to_csv(output_path, index=False)

This random sample will then be manually evaluated by group members and be averaged to be used for error caluculation